<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <section class="main-header">
    <img src="assets/115767.png"><h1>インスタクローン</h1>
  </section>
</body>
</html>